html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Red Rose", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
}

* {
  box-sizing: border-box;
}

.text-redrose {
  font-family: "Red Rose", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.container {
  padding: 0 2rem;
}

.main {
  padding: 2rem 0;

  --tw-bg-opacity: 1;

  background-color: rgba(255 255 255 / var(--tw-bg-opacity));
}

.tab-filter button {
  border: 1px solid #0000001f;
}

.tab-filter .active {
  border: none;
}

.dtable button:active,
.dtable button:focus,
.dtable button:hover {
  background: none !important;
}

.dtable a {
  color: #6366f1;
}

.dtable [data-tag="allowRowEvents"] {
  overflow: inherit !important;
}

.dtable .vote-badge {
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}

.top-border {
  border-top: 1px #0000001f solid;
}

.rdt_Pagination {
  border: 0 !important;
}

.rdt_ExpanderRow {
  z-index: 1;
  box-shadow: rgb(149 157 165 / 20%) 0 8px 24px;
  width: auto !important;
  border-radius: 0 0 0.5rem 0.5rem;
  margin: -15px 12px 0;
}

.link-list a {
  color: #5f75ee;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
